/* --------------------------- Variables gloables --------------------------- */

//Reset
* {
    margin: 0%;
    padding: 0%;
}

//Colores
$colors:(
    'principal': linear-gradient(90deg, rgba(11,7,91,1) 0%, rgba(12,96,159,1) 50%, rgba(13,5,99,1) 100%),
    'secondary': rgba(255,68,0,1) linear-gradient(90deg, rgba(255,68,0,1) 0%, rgba(255,162,0,1) 50%, rgba(255,68,0,1) 100%),
    'keyColor': #f5f6fa,
);

//Sizing
$w-75: 75%;

//Fonts
$fontMain: 'Oswald', sans-serif;
$fontSecondary: 'Oxygen', sans-serif;
$dark: black;
$font-M: 1.4rem;
$font-L: 1.8rem;
$font-XL: 3.2rem;
$font-XXL: 5.5rem;

//Mixin's
@mixin font {
    font-family: $fontSecondary;
    color: map-get($map: $colors, $key: 'keyColor');
}

@mixin titles {
    text-align: center;
    color: map-get($map: $colors, $key: 'keyColor');
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@mixin margin-top-bottom($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding-top-bottom($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin btn_properties {
    color: map-get($map: $colors, $key: 'keyColor');
    &:hover {
        color: gold;
        animation: tada;
        animation-duration: 1.5s;
        font-weight: bold;
        background: none;
    }
}

@mixin social-logos-animation {
    animation: heartBeat;
        &:hover {
            animation: tada;
            animation-duration: 2s;
        }
}