// Contenido
body {
    background: map-get($map: $colors, $key: 'principal');

    p {
        text-align: center;
    }

    #logo_container {
        background-image: url(https://www.publicdomainpictures.net/pictures/310000/nahled/green-leaves-background-1569939735IDs.jpg);
    }

    .darkText {
        color: $dark;
    }

    .principal {
        background: map-get($map: $colors, $key: 'secondary');

        .carousel-inner {
            padding-top: 2rem;
        }
        
        .img3 {
            @include margin-top-bottom(1rem, 1rem);
        
            img {
                position: relative;
                left: 3%;
            }
        }
    
        .form_container {
            @include margin-top-bottom(2%, 15%);
            background-color: map-get($map: $colors, $key: 'keyColor');
    
            .contactForm {
    
                #textInput {
                    height: 10rem;
                }
    
                .form-label, .centerTitle, .formText {
                    @extend .darkText;
                    text-align: center;
                    padding-top: 1rem;
                }
                
                .formText {
                    padding-top: 5px;
                }
                
                .btn_send {
                    padding-bottom: 1rem;
                }
                
                #form_btn {
                    margin-top: 1rem;
                }
            }
        }

        .locationContainer {
            margin-top: 15%;
            background-color: map-get($map: $colors, $key: 'keyColor');
    
            h2 {
                color: black;
                padding: 1rem;
            }
        
            .location {
                overflow: hidden;
                @include padding-top-bottom(1rem, 2rem);
            }
        }

        .final_text {
            margin-top: 2rem;
        }
        
        .btn_buy, #form_btn {
            background: map-get($map: $colors, $key: 'principal');
        
            &:hover {
                font-weight: bold;
                color: gold;
                animation: tada;
                animation-duration: 2s;
            }
        }

        .album {
            padding: 1rem;
            margin: 5px;
    
            .album_img {
                padding: 5px 0%;
            }
    
            .row_1 {
                display: grid;
            }
    
            .row_2 {
                display: grid;
            }
        }

        .info-container {
            margin: 0% 1rem;

            .info_text {
                padding: 1rem;
            }
        }
        
        .us-container {
            margin: 0% 1rem;

            .us_text {
                color: $dark;
            }
        }

        .productList {
            margin: 5px;

            .product_container {
                padding: 1rem;
            }
        }
    }
}