/* --------------------------------- Footer --------------------------------- */

.footerTitle {
    text-align: center;
    padding-top: 1rem;
}

.btn_footer {
    position: relative;
    left: 3px;
}

.fbFooter, .igFooter {
    margin-top: 5px;
    margin-bottom: 1rem;
}

.facebook1 {
    width: 2.7rem;
    height: 2.7rem;
    @include social-logos-animation();
}

.instagram1 {
    width: 2.8rem;
    height: 2.8rem;
    @include social-logos-animation();
}